<!DOCTYPE html>
<html>
  <head>
    <title>Add words</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_words(old).css') }}">
  </head>
  <body>
    <button id="back" class="back back_button_style">
      Back
    </button>
    <button id="words" class="top_menu top_menu_words">
      Слова
    </button>
    <button id="tests" class="top_menu top_menu_tests">
      Тесты
    </button>
    <button id="games" class="top_menu top_menu_games">
      Игры
    </button>
    <h1></h1>
    <form class="add_word" method="POST" action="">
      <label for="classSelect">Папки:</label>
      <input type="text" id="classSelect" name="classSelect"><br><br>
      <label for="unitSelect">Модули:</label>
      <input type="text" id="unitSelect" name="unitSelect"><br><br>
      <div id="wordFields">
        <label for="textInput1">Слово:</label>
        <input type="text" id="word" name="word"><br><br>
        <label for="textInput2">Перевод:</label>
        <input type="text" id="perevod" name="perevod"><br><br>
      </div>
      <button type="button" onclick="addWordField()">Add Word</button>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
  <script type="text/javascript">
    document.getElementById("words").onclick = function () {
      location.href = window.location.origin + '/words';
    };
    document.getElementById("tests").onclick = function () {
      location.href = window.location.origin + '/tests';
    };
    document.getElementById("games").onclick = function () {
      location.href = window.location.origin + '/games';
    };
    document.getElementById("back").onclick = function () {
      location.href = window.location.origin + '/words';
    };

    function addWordField() {
      var wordFieldsDiv = document.getElementById("wordFields");
      var newWordField = document.createElement("div");
      var counter = document.querySelectorAll("div.word-field").length + 1; // Get the number of existing word fields
      newWordField.className = "word-field"; // Assign a class name for styling purposes
      newWordField.innerHTML =
        '<label for="word' + counter + '">Слово:</label>' +
        '<input type="text" id="word' + counter + '" name="word' + counter + '"><br><br>' +
        '<label for="perevod' + counter + '">Перевод:</label>' +
        '<input type="text" id="perevod' + counter + '" name="perevod' + counter + '"><br><br>';
      wordFieldsDiv.appendChild(newWordField);
    }
  </script>
</html>
