<!DOCTYPE html>
<html>
  <head>
    <title>Редактирование профиля</title>
    <style type="text/css">
      .back {
        border-radius: 10%;
        height: 100px;
        width: 8%;
        text-align: center;
        font-size: 200%;
      }
      .top_menu {
        height: 100px;
        width: 30%;
        font-size: 200%;
        background-color: #CBCFEF;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <button id="back" class="back">
      Back
    </button>
    <button id="words" class="top_menu" style="right: 61.5%;">
      Слова
    </button>
    <button id="tests" class="top_menu" style="right: 31%;">
      Тесты
    </button>
    <button id="games" class="top_menu" style="right: 0.5%;">
      Игры
    </button>
    <h1>Редактирование профиля</h1>
    <form action="/save_profile" method="POST">
      <label for="fio">ФИО:</label>
      <input type="text" id="fio" name="fio" value="{{ fio }}" required>
      <br>
      <label for="nick">Nick:</label>
      <input type="text" id="nick" name="nick" value="{{ nick }}" required>
      <br>
      <input type="submit" value="Сохранить">
    </form>
  </body>
<script type="text/javascript">
  document.getElementById("back").onclick = function () {
    location.href = window.location.origin + '/profile';
  };
  document.getElementById("words").onclick = function () {
    location.href = window.location.origin+'/words';
  };
  document.getElementById("tests").onclick = function () {
    location.href = window.location.origin+'/tests';
  };
  document.getElementById("games").onclick = function () {
    location.href = window.location.origin+'/games';
  };
  document.getElementById("editProfile").onclick = function () {
    location.href = window.location.origin + '/edit_profile';
  };
</script>
</html>
